.order-delegate-container{
    width: 100%;
    height: 60px;
    background-color: var(--widget-second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: var(--foreground);
    padding: 20px;
}

.order-delegate-container:hover{
    background-color: #faebe4;
}

.customer-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    width: 300px;
}

.delegate-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
}

.delegate-button:hover{
    font-weight: 700;
    cursor: pointer;
}

.delegate-button:active{
    scale: 0.98;
}

.expand-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    border: none;
    font-size: 18px;
    width: 26px;
    height: 26px;
    border-radius: 16px;
}

.expand-button:hover{
    background: var(--main-gradient);
}

.expand-button:active{
    scale: 0.98;
}